<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
    <p class="mt-5 mb-3 text-muted" align="center"> ~~~Rent or Book Rooms~~~ </p>  
     <a class="nav-link" align="center" href="{{ url_for('render_home') }}">Home</a>


</footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/assets/js/vendor/popper.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
  </body>
</html>

