<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron.css" rel="stylesheet">
  {% include 'header.html' %}
  </head>

<body>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron")>
        <!-- <div class="container"> -->
         <!-- style="background:transparent url('../static/images/house3.jpg')" -->
          <font size="+3"><b><strong> Rent out or Rent in</b></strong></font>
        
          <p>Are you a property Owner and want to rent out your unused property? 
          Are you going away on short trips from your home and want to be a Guest in a homely room at low cost?</p>
          <p><a class="btn btn-primary btn-lg" href="{{ url_for('sign_up') }}" role="button">Sign Up &raquo;</a></p>
<!--       </div> -->
      </div>
      <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
            <h5>Earn more with your property</h5>
            <p>xxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxxxxxxx </p>
<!--             <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
            <div class="col-md-4">
            <h5>Spend your trips in home like comfort</h5>
            <p>xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxx xxxxxxxxxxx </p>

          </div>
          <!-- </div> -->
            <div class="col-md-4">
            <h5>Spend less get more </h5>
            <p>xxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxx </p>
          </div>
        </div>

        <hr>

    </div> <!-- /container -->
    </main>

      {% include 'footer.html' %}

</body>

</html>
   