<!doctype html>
<html lang="en">
<head>
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>list_property</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
     {% include 'header.html' %}
  </head>
    <body >

		<div class="container container-table">


		<form class="form-signin" method="POST" action="/list_property" style="height: 100px; padding-top: 10rem;">
		{% if message %}
			<font size="+1"><h1 class="bg-success">{{ message }}<strong></strong></h1></font>
		{% endif %}
		<img class="mb-4" src="../static/images/house-for-rent.jpg" alt="" width="300" height="300">


			<div class="form-group">
				<fieldset>
				<select class="form-control" id="user_type" name="user_type" required >
		          <option value="owner">Owner</option>
		          <option value="guest">Guest</option>
		      	</select>

		      	<label for="email">Email id</label>
		        <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required autofocus>

		      	<label for="password">Password</label>
      			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
     		
				</fieldset>	
			
				<fieldset>
			 	<legend align="center" >List your property here.</legend>
			 	<label for="country">Country</label>
                <select class="form-control" id="country" type= "text" name="country" required >
                <option value="Netherlands">Netherlands</option>
                </select />

			 	 <label for="state">State</label>
                <select class="form-control" id="state" name="state" required>
                <option value="NH">NH</option>
                <option value="AH">AH</option>
                <option value="DP">DP</option>
                </select />

			 	<label for="city">City</label>
                <select class="form-control" id="city" name="city">
                <option value="Amsterdam">Amsterdam</option>
                <option value="Duivendrecht">Duivendrecht</option>
                <option value="Jordaan">Jordaan</option>
                <option value="Watergraafsmeer">Watergraafsmeer</option>
                </select />

			 	 <label for="street">Street</label>
			 	 <input id="street" name="street"class="form-control" type="text" >

			 	 <label for="zip_code">Zip Code</label>
			 	 <input id="zip_code" name="zip_code"class="form-control" type="text">

				<label for="property_type" align="center" >Property Type</label>
				<select class="form-control" id="property_type" name="property_type" required >
					<option value="House">House</option>
                    <option value="Cabin">Cabin</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Dorm">Dorm</option>
				</select><br />


			 	<label for="rate">Rate Per Day per Person</label>
			 	<input id="rate" name="rate" class="form-control" type="number" required >

				<label for="room_type">Room Type</label>
				<select class="form-control" id="room_type" name="room_type" required>
		         <option value="Shared">Shared room</option>
	             <option value="Private">Private room</option>
	             <option value="Entire home/apt">Entire home/apt</option>
				</select><br />

				<label for="bed_type">Bed Type</label>
				<select class="form-control" id="bed_type" name="bed_type" required>
					<option value="Real bed">Real bed</option>
                    <option value="Pull-out Sofa">Pull-out Sofa</option>
                    <option value="Futon">Futon</option>
                    <option value="Airbed">Airbed</option>
                    <option value="Couch">Couch</option>
				</select><br />

				<label for="no_bathrooms">Number of Bathrooms</label>
				<input type="number" value="1" min="1" max="10" id="no_bathrooms" name="no_bathrooms" class="form-control" required >
				
				<label for="no_beds">Number of Bedrooms</label>
				<input type="number" value="1" min="1" max="10" id="no_beds" name="no_beds" class="form-control" required >

				<label for="minimum_stay">Minimum Stay at your property </label>
				<input type="number" value="1" min="1" max="10" id="minimum_stay" name="minimum_stay" class="form-control" required >

				<label for="capacity">Capacity of the property</label>
				<input type="number" value="1" min="1" max="10" id='capacity'name="capacity" class="form-control" required >

			<!-- 	<input type="submit" value="Submit now!" /> -->

			 <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</div>
			{% include 'footer.html' %}
		</form>

		<div/>

</body>

</html>