<html>
	<head>
		<title>Login Form</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-4">

					<!-- {% with messages = get_flashed_messages() %} -->
						{% if message %}
						   {% for message in messages %}

						<p class="bg-success"> {{ message }} </p> 
							{% endfor %}
						  {% endif %}
					<!-- {% endwith %} -->


					<h1>Login!</h1>

		<form method="POST" action="/login">

			<div class="form-group">
				<label for="email">Email</label>
				<input id="email" name="email" class="form-control" type="text" /><br />

				<label for="password">Password</label>
				<input class="form-control" id="password" type="password" name="password" /><br />

				<input type="submit" value="Login" />
			</div>
		</form>
	</div>

	</div>
</div>

	</body>

</html>