
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>search_property</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
     {% include 'header.html' %}

     <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript">
        var citiesByState = {
            NH: ["Centrem","Zuidoost","Diemen"],
            AH: ["Groningen","Haarlem","Zeeburg"],
            DP: ["Watergang","Landsmeer","Uitdam"]
        }
        function makeSubmenu(value) {
            if(value.length==0) document.getElementById("city").innerHTML = "<option></option>";
            else {
                var citiesOptions = "";
                for(cityId in citiesByState[value]) {
                    citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
                }
                document.getElementById("city").innerHTML = citiesOptions;
            }
        }
        function displaySelected() {
            var state = document.getElementById("state").value;
            var city = document.getElementById("city").value;
            alert(state+"\n"+city);
        }
        function resetSelection() {
            document.getElementById("state").selectedIndex = 0;
            document.getElementById("city").selectedIndex = 0;
        }
    </script>
  </head>
    <body >
        <div style="background:transparent !important" class="jumbotron">
            <img src="../static/images/guestpage.png"  width=100% height=100%>
        </div>
        <div class="container container-table">

       <form class="form-signin" method="POST" action="/search_property" ><!-- style="height: 100px; padding-top: 10rem;"> -->
		{% if message %}
			<font size="+1"><h1 class="bg-success">{{ message }}<strong></strong></h1></font>
		{% endif %}
		<!-- <img class="mb-4" src="../static/images/house-for-rent.jpg" alt="" width="300" height="300"> -->

            <div class="form-group">
                <fieldset>
                <font size="+3"><b><strong>Location Choice</b></strong></font>
                <fieldset>
                <br />

                <table style="width:100%">
                    <tr>
                        <th>
                            <label for="country">Country</label>
                            <select class="form-control" id="country" name="country" type="text">
                            <option value="Netherlands">Netherlands</option>
                            </select />
                        </th>
                        <th>
                            <label for="state">State</label>
                             <select class="form-control" id="state" onchange="makeSubmenu(this.value)" name="state" type="text">
                            <option>Select Your State</option>
                            <option>NH</option>
                            <option>AH</option>
                            <option>DP</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="city">City</label>
                            <select class="form-control" id="city" name="city" type="text">
                            <option>Select Your City</option>
                            <option></option>
                            </select>
                        </th>
                        <th>
                            <label for="street">Street</label>
                            <input id="street" name="street" class="form-control" type="text">
                        </th>
                    </tr>
                </table>
                <br /><br />

                 
                <fieldset>
                <font size="+3"><b><strong>Property Choice</b></strong></font>
                </fieldset>
                <br />

                <table style="width:100%">
                    <tr>
                        <th>
                            <label for="property_type" align="center" >Property Type</label>
                            <select class="form-control" id="property_type" name="property_type" type="text">
                                <option value="Any">Any</option>
                                <option value="House">House</option>
                                <option value="Cabin">Cabin</option>
                                <option value="Apartment">Apartment</option>
                                <option value="Dorm">Dorm</option>
                            </select>
                        </th>
                        <th>
                            <label for="rate">Max Price Per Day per Person in Dollars</label>
                            <select class="form-control" id="rate" name="rate" type="float">
                                <option value="50" >50</option>
                                <option value="100" >100</option>
                                <option value="150" >150</option>
                                <option value="200" >200</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="room_type">Room Type</label>
                            <select class="form-control" id="room_type" name="room_type" type="text">
                                <option value="Any">Any</option>
                                <option value="Shared room">Shared room</option>
                                <option value="Private room">Private room</option>
                                <option value="Entire home/apt">Entire home/apt</option>
                        </th>
                        <th>
                            <label for="bed_type">Bed Type</label>
                            <select class="form-control" id="bed_type" name="bed_type" type="text">
                                <option value="Any">Any</option>
                                <option value="Real Bed">Real Bed</option>
                                <option value="Pull-out Sofa">Pull-out Sofa</option>
                                <option value="Futon">Futon</option>
                                <option value="Airbed">Airbed</option>
                                <option value="Couch">Couch</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="no_bathrooms">Number of Bathrooms</label>
                            <input type="float" value="1" min="1" max="10" id="no_bathrooms" name="no_bathrooms" class="form-control">
                        </th>
                        <th>
                           <label for="no_bedrooms">Number of Bedrooms</label>
                            <input type="integer" value="1" min="1" max="10" id="no_bedrooms" name="no_bedrooms" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="minimum_stay">Minimum Stay at your property </label>
                            <input type="integer" value="1" min="1" max="10" id="minimum_stay" name="minimum_stay" class="form-control">
                        </th>
                        <th>
                           <label for="capacity">Capacity of the property</label>

                            <select class="form-control" id="capacity" name="capacity" type="integer">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>

                        </th>
                    </tr>  
                </table>
                <br /><br />

             <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="search">Search</button>
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <br /><br />
                    <h1><b><strong>Search Result</b></strong></h1>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <th>Property_id</th>
                            <th>Property Type</th>
                            <th>Room Type</th>
                            <th>Bed Type</th>
                            <th>No. of bathrooms</th>
                            <th>No. of bedrooms</th>
                            <th>Capacity</th>
                            <th>Minimum Stay</th>
                            <th>Rate($)</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Street</th>
                            <th>Zipcode</th>
                        </tr>

                        {% for column in columns %}
                       <!--  <h1> {{colums}}</h1> -->
                            <tr>
                                <td><input type="radio" name="select_property" value="{{ column[0]}}"/>{{ column[0]}}</td>
                                <td>{{ column[1] }}</td>
                                <td>{{ column[2] }}</td>
                                <td>{{ column[3] }}</td>
                                <td>{{ column[4] }}</td>
                                <td>{{ column[5] }}</td>
                                <td>{{ column[6] }}</td>
                                <td>{{ column[7] }}</td>
                                <td>{{ column[8] }}</td>
                                <td>{{ column[9] }}</td>
                                <td>{{ column[10] }}</td>
                                <td>{{ column[11] }}</td>
                                <td>{{ column[12] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                    <div class="form-group">
                <br /><br />
				<fieldset>
                    <legend><strong>Log in as Guest to book the selected property</strong></legend>

		      	<label for="email">Email id</label>
		        <input type="email" id="email" class="form-control" name="email" placeholder="Guest Account Email" >

		      	<label for="password">Password</label>
      			<input type="password" id="password" name="password" class="form-control" placeholder="Guest Account Password" >

				</fieldset>
                    </div>
                 </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="book" >Book</button>
            </div>
            {% include 'footer.html' %}
        </form>
</body>

</html>