<html>
	<head>
		<title>INFO 257 Workshop Form</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12">
					<h1>Users</h1>

					<table class="table">
						<tr>
							<th>Email</th>
							<th>Location</th>
							<th>Essay</th>
						</tr>
						{% for ui_row in data %}
						<tr>
							<td>{{ ui_row.email }}</td>
							<td>{{ ui_row.location }}</td>
							<td>{{ ui_row.essay }}</td>
						</tr>
						{% endfor %}
					</table>	

				</div>

			</div>
		</div>
	</body>
</html>