<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>sign_up</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/signin.css" rel="stylesheet">
     {% include 'header.html' %}
  </head>
    <body >


		{% if message %}
			<p class="bg-success">{{ message }}<strong></strong></p>
		{% endif %}

  			<form class="form-signin" method="POST" action="/sign_up">
  					<img class="mb-4" src="../static/images/house-for-rent.jpg" alt="" width="200" height="200">
		
				<!-- To label a group of inputs that belong together, use a <fieldset> and a <legend>: -->
				<fieldset>
			 	 <legend>Sign Up Here!</legend>

			 	 <label for="user_type" align="center" >User Type</label>
				<select class="form-control" id="user_type" name="user_type" required >
					<option value="owner">Owner</option>
					<option value="guest">Guest</option>
				</select><br />

				
			     <label for="email">Email id </label>
		     	 <input type="text" id="email" name="email"  class="form-control" placeholder="Email address" required >

				<label for="password">Create Password</label>
				<input type="password"  name="password" id="password" class="form-control" placeholder="Password" required>
				

			 	 <label for="firstname">First Name </label>
			 	 <input id="firstname" name="firstname" class="form-control" type="text" required >


			 	 <label for="lastname">Last Name</label>
			 	 <input id="lastname" name="lastname"class="form-control" type="text" required >
				</fieldset>


				<label for="phone">Phone</label>
				<input id="phone" name="phone" class="form-control" type="number" required >


				 <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		
			</div>
			{% include 'footer.html' %}
		</form>



</body>

</html>