<!doctype html>
<html lang="en">
<head>
	<!-- <meta charset="utf-8"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  \
    <!-- <title>sign_up</title> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->


  </head>

  <body >
		<div class="container-fluid">

			<!-- <div class="row"> -->

		<div class="col-md-4">

		{% if message %}
			<h1 class="bg-success">{{ message }}<strong></strong></h1>
		{% endif %}


		<form class="form-signin" method="POST" action="/sign_up">
		<img class="mb-4" src="../static/images/house-for-rent.jpg" alt="" width="300" height="300">

			<div class="form-group">
				<label for="email_id">Email</label>
				<input id="email_id" name="email_id" class="form-control" type="text" /><br />

				<label for="password">Password</label>
				<input class="form-control" id="password" type="password" name="password" /><br />

				<!-- To label a group of inputs that belong together, use a <fieldset> and a <legend>: -->
				<fieldset>
			 	 <legend>Name</legend>
			 	 <label for="firstname">First Name </label>
			 	 <input id="firstname" name="firstname" class="form-control" type="text" /><br />

			 	 <label for="lastname">Last Name</label>
			 	 <input id="lastname" name="lastname"class="form-control" type="text" /><br />
				</fieldset>


				<label for="phone">Phone</label>
				<input id="phone" name="phone" class="form-control" type="number" /><br />

				<fieldset>
			 	 <legend>Property Location</legend>
			 	 <label for="country">Country </label>
			 	 <input id="country" name="country" class="form-control" type="text" /><br />

			 	 <label for="state">State</label>
			 	 <input id="state" name="state"class="form-control" type="text" /><br />

			 	 <label for="city">City</label>
			 	 <input id="city" name="city"class="form-control" type="text" /><br />

			 	 <label for="street">Street</label>
			 	 <input id="street" name="street"class="form-control" type="text" /><br />

			 	 <label for="zip_code">Zip Code</label>
			 	 <input id="zip_code" name="zip_code"class="form-control" type="number" /><br />

			 	 <label for="longitude">Longitude</label>
			 	 <input id="longitude" name="longitude" class="form-control" type="number" /><br />

			 	 <label for="latitude">Latitude</label>
			 	 <input id="latitude" name="latitude" class="form-control" type="number" /><br />
			 	</fieldset>

				<label for="property_type">Property Type</label>
				<select class="form-control" id="property_type" name="property_type">
					<option value="House">House</option>
					<option value="Condo">Condo</option>
					<option value="Apartment">Apartment</option>
					<option value="Room">Room</option>
				</select><br />


			 	<label for="rate">Rate Per Day per Person</label>
			 	<input id="rate" name="rate" class="form-control" type="number" /><br />

				<label for="room_type">Room Type</label>
				<select class="form-control" id="room_type" name="room_type">
					<option value="Shared">Shared</option>
					<option value="Individual">Individual</option>
				</select><br />

				<label for="bed_type">Bed Type</label>
				<select class="form-control" id="bed_type" name="bed_type">
					<option value="Futon">Futon</option>
					<option value="Single">Single</option>
					<option value="Twin">Twin</option>
					<option value="Queen">Queen</option>
					<option value="King">King</option>
					<option value="Air Mattress">Air Mattress</option>
				</select><br />

				<label for="no_bathrooms">Number of Bathrooms</label>
				<input type="number" value="1" min="1" max="10" id="no_bathrooms" name="no_bathrooms" class="form-control" /><br />
				
				<label for="no_bedrooms">Number of Bedrooms</label>
				<input type="number" value="1" min="1" max="10" id="no_bedrooms" name="no_bedrooms" class="form-control" /><br />

				<label for="minimum_stay">Minimum Stay at your property </label>
				<input type="number" value="1" min="1" max="10" id="minimum_stay" name="minimum_stay" class="form-control" /><br />

				<label for="capacity">Capacity of the property</label>
				<input type="number" value="1" min="1" max="10" id='capacity'name="capacity" class="form-control" /><br />

				<input type="submit" value="Submit now!" />
			</div>
		</form>
</div>
</div>

</body>

</html>